PORT=3000

DB_HOST=
DB_PORT=3306
DB_NAME=
DB_USER=
DB_PASSWORD=


TOKEN_ENCRYPTION_KEY=48faf791b147c20365a1bc5081esdfsdf3453fsdfsdfsdfsfsdfsfdsdfsdf

DOCKER_BUILD_API_URL=http://localhost:8010

JWT_SECRET=58O1eqqMxU3RYGPedzpZi1Vsdfhjuyiixewrfvfdvsdfsdfsdfsdfsdfsdfsdf
JWT_EXPIRES_IN=1h
